@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl-Regular'), local('Stolzl-Regular'), url('../fonts/Stolzl-Regular.woff2') format('woff2'), url('../fonts/Stolzl-Regular.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Stolzl';
    src: local('Stolzl-Light'), local('Stolzl-Light'), url('../fonts/Stolzl-Light.woff2') format('woff2'), url('../fonts/Stolzl-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro-Bold'), local('GothamPro-Bold'), url('../fonts/GothamPro-Bold.woff2') format('woff2'), url('../fonts/GothamPro-Bold.woff') format('woff');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Pro';
    src: local('GothamPro'), local('GothamPro'), url('../fonts/GothamPro.woff2') format('woff2'), url('../fonts/GothamPro.woff') format('woff');
    font-weight: 400;
    font-style: normal;
}