   html {
       margin: 0;
       padding: 0;
       box-sizing: border-box;
       overflow-x: hidden;
   }
   
   *,
   *::after,
   *::before {
       box-sizing: inherit;
   }
   
   a {
       color: inherit;
       text-decoration: none;
   }
   
   ul,
   ol,
   li {
       padding: 0;
       margin: 0;
       color: inherit;
       list-style-type: none;
   }
   
   p,
   h1,
   h2,
   h3,
   h4,
   h5,
   h6 {
       margin: 0;
       padding: 0;
   }
   
   input,
   button {
       outline: none;
       border: none;
       appearance: none;
   }
   
   body {
       box-sizing: inherit;
       font-family: Stolzl, sans-serif;
       color: #fff;
       font-weight: 400;
       background-color: #4C1DD2;
   }
   /* --- Header start --- */
   
   .header {
       max-width: 1920px;
       margin: 0 auto;
   }
   
   .wrapper {
       max-width: 1320px;
       margin: 0 auto;
       padding: 0 15px;
   }
   
   #bubble1 {
       position: absolute;
       width: 510px;
       height: 510px;
       top: -160px;
       left: -230px;
       z-index: -1;
   }
   
   #bubble2 {
       position: absolute;
       width: 464px;
       height: 464px;
       top: -100px;
       right: -340px;
       z-index: -1;
   }
   
   #plus1 {
       position: absolute;
       width: 14px;
       height: 14px;
       top: -141px;
       left: -125px;
   }
   
   #plus2 {
       position: absolute;
       width: 10px;
       height: 10px;
       bottom: -70px;
       left: -5px;
   }
   
   #plus3 {
       position: absolute;
       width: 9px;
       height: 9px;
       top: 130px;
       right: -15px;
   }
   
   #elipse {
       position: absolute;
       width: 20px;
       height: 20px;
       top: -35px;
       right: 0;
   }
   /* --- Header Top start --- */
   
   .header__inner {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       text-align: center;
       align-items: center;
       margin-bottom: 54px;
       padding-top: 50px;
   }
   /* -- Header nav -- */
   
   .header__nav {
       display: flex;
       padding-top: 7px;
   }
   
   .header__logo {
       margin-right: 46px;
   }
   
   .nav {
       padding-top: 9px;
   }
   
   .nav__items {
       display: flex;
       text-align: center;
       align-items: center;
       justify-content: space-between;
   }
   
   .nav__item {
       font-size: 16px;
       line-height: 19px;
       margin-right: 40px;
   }
   
   .nav__item:last-child {
       margin-right: 0;
   }
   /* -- Header contact -- */
   
   .contact-tel {
       font-weight: 300;
       font-style: 18px;
       margin-right: 43px;
   }
   
   .contact-whatsapp {
       display: inline-block;
       position: relative;
       width: 177px;
       height: 48px;
       font-family: 'Gotham Pro', sans-serif;
       font-weight: 400;
       font-size: 17px;
       line-height: 16px;
       background-color: #4F15F3;
       border-radius: 9px;
       padding: 16px 25px 12px 68px;
   }
   
   .contact-whatsapp::before {
       content: url("../img/whatsapp.svg");
       position: absolute;
       top: 12px;
       left: 24px;
   }
   /* --- Header end --- */
   /* --- Section start --- */
   
   .section {
       max-width: 1920px;
   }
   
   .section__inner {
       display: flex;
       flex-wrap: wrap;
       justify-content: space-between;
       align-items: center;
   }
   
   .section__content {
       position: relative;
       width: 686px;
       padding-left: 95px;
       margin-right: 49px;
       z-index: 1;
   }
   
   .section-title {
       max-width: 640px;
       width: 600px;
       font-size: 48px;
       font-weight: 400;
       line-height: 72px;
       margin-bottom: 23px;
   }
   
   .section-title span {
       font-weight: 300;
       line-height: 72px;
   }
   
   .section-subtitle {
       width: 500px;
       font-weight: 300;
       font-size: 24px;
       line-height: 150.2%;
       margin-bottom: 48px;
   }
   
   .section__active {
       display: flex;
   }
   
   .active-input {
       display: inline-block;
       width: 284px;
       height: 56px;
       outline: none;
       appearance: none;
       border-radius: 12px;
       font-size: 18px;
       line-height: 158.2%;
       margin-right: 21px;
       padding-left: 19px;
   }
   
   .active-input::placeholder {
       font-size: 18px;
       line-height: 158.2%;
       color: #BCBCBC;
   }
   
   .active-btn {
       position: relative;
       display: inline-block;
       width: 335px;
       height: 56px;
       border: none;
       border-radius: 12px;
       background-color: #F86161;
       font-size: 18px;
       line-height: 158.2%;
       text-align: center;
       color: #FFFFFF;
       outline: none;
   }
   
   .section__images {
       width: 445px;
       height: 598px;
       position: relative;
       margin-top: 80px;
       z-index: 1;
   }
   
   .section__images::before {
       content: url("../img/dots.svg");
       position: absolute;
       top: -27px;
       right: -53px;
       z-index: -1;
   }
   
   .section__images::after {
       content: "";
       position: absolute;
       width: 527px;
       height: 680px;
       background: url("../img/girl.svg");
       bottom: 0;
       right: -20px;
   }
   
   .treangle {
       position: absolute;
       width: 180px;
       height: 180px;
       bottom: 35px;
       left: -20px;
       z-index: 2;
   }
   /* -- Clients -- */
   
   .client {
       position: absolute;
       top: -35px;
       left: -65px;
       width: 159px;
       height: 186px;
       background-color: #121B30;
       border-radius: 21px;
       align-items: center;
       text-align: center;
       padding: 26px 0 22px;
       z-index: 2;
   }
   
   .client-img {
       width: 52px;
       height: 52px;
       background-color: #F6F4FC;
       border-radius: 100%;
       padding: 15px;
       margin-bottom: 13px;
   }
   
   .client-title {
       font-weight: 400;
       font-size: 22px;
       margin-bottom: 15px;
   }
   
   .client-text {
       width: 120px;
       text-align: center;
       font-size: 12px;
       margin: 0 auto;
   }
   /* -- Sales -- */
   
   .sales {
       position: absolute;
       top: 220px;
       right: -185px;
       display: flex;
       justify-content: space-between;
       width: 288px;
       height: 99px;
       background-color: #121B30;
       border-radius: 21px;
       align-items: center;
       text-align: center;
       padding: 0 20px;
       margin-right: 15px;
       z-index: 2;
   }
   
   .sales-img {
       width: 52px;
       height: 52px;
       border-radius: 100%;
       background-color: #F6F4FC;
       padding: 14px 14px 16px 16px;
       margin-right: 14px;
   }
   
   .sales__content {
       width: 186px;
       text-align: left;
       padding-bottom: 5px;
   }
   
   .sales-title {
       font-weight: 400;
       font-size: 22px;
       margin-bottom: 6px;
   }
   
   .sales-text {
       width: 170px;
       font-size: 12px;
       line-height: 124.2%;
   }
   /* -- Graph -- */
   
   .graph {
       position: absolute;
       bottom: -100px;
       right: -65px;
       width: 326px;
       height: 301px;
       background-color: #fff;
       border-radius: 15px;
       padding: 22px 23px;
       z-index: 2;
   }
   
   .graph__img {
       display: inline-block;
       width: 52px;
       height: 52px;
       background-color: #F6F4FC;
       border-radius: 100%;
       margin-right: 18px;
       padding: 17px;
   }
   
   .graph-title {
       display: inline-block;
       width: 180px;
       height: 52px;
       font-weight: 700;
       font-size: 18px;
       line-height: 124.2%;
       color: #121B30;
       margin-bottom: 29px;
   }
   
   .graph__box {
       display: flex;
   }
   
   .graph__items {
       width: 31px;
       height: 18px;
       font-family: 'Gotham Pro', sans-serif;
       font-weight: 400;
       font-size: 9px;
       line-height: 124.2%;
       color: #878E9C;
       padding-bottom: 38px;
   }
   
   .img-graph {
       max-width: 238px;
       max-height: 164px;
   }
   /* --- Media --- */
   
   @media (max-width: 1664px) {
       .sales {
           margin-right: 180px;
       }
       .graph {
           margin-right: 60px;
       }
   }
   
   @media (max-width: 1200px) {
       .wrapper {
           max-width: 1200px;
       }
       .header__inner {
           max-width: 700px;
           display: block;
           margin: 0 auto 60px;
       }
       .header__nav {
           max-width: 700px;
           margin: 0 auto 20px;
       }
       .nav__item {
           font-size: 14px;
       }
       .header__contact {
           max-width: 700px;
           margin: 0 auto;
       }
       .section__inner {
           justify-content: center;
       }
       .section__content {
           max-width: 500px;
           margin-right: 0;
           margin-bottom: 80px;
           padding: 0;
       }
       .section-title {
           max-width: 450px;
           font-size: 36px;
           line-height: 36px;
           margin: 0 0 20px;
       }
       .section-subtitle {
           max-width: 350px;
           font-size: 18px;
           margin: 0 0 48px;
       }
       .section__active {
           max-width: 500px;
           text-align: center;
           align-items: center;
           margin: 0;
       }
       .active-input {
           max-width: 200px;
           max-height: 40px;
           margin-right: 20px;
           font-size: 13px;
       }
       .active-input::placeholder {
           font-size: 13px;
       }
       .active-btn {
           max-width: 220px;
           max-height: 40px;
           font-size: 13px;
       }
       .images-main {
           margin: 0 auto;
       }
       .sales {
           margin-right: 0px;
           right: -100px;
       }
       .graph {
           margin-right: 0px;
       }
   }
   
   @media (max-width: 991px) {
       .wrapper {
           max-width: 991px;
       }
       .header__inner {
           max-width: 700px;
           display: block;
           margin: 0 auto 80px;
       }
       .header__nav {
           max-width: 700px;
           margin: 0 auto 20px;
       }
       .header__contact {
           max-width: 700px;
           margin: 0 auto 20px;
       }
       .section {
           display: block;
       }
       .section__content {
           max-width: 690px;
           text-align: center;
           align-items: center;
           margin: 0 auto 80px;
           padding: 0;
       }
       .section-title {
           margin: 0 auto 20px;
       }
       .section-subtitle {
           margin: 0 auto 48px;
       }
       .section__active {
           max-width: 400px;
           text-align: center;
           align-items: center;
           margin: 0 auto;
       }
       .section__images {
           margin: 0 auto;
       }
       .images-main {
           margin: 0 auto;
       }
       .sales {
           margin-right: 0px;
       }
       .graph {
           margin-right: 0px;
       }
   }
   
   @media (max-width: 768px) {
       .header__inner {
           margin-bottom: 40px;
       }
       .header__nav {
           display: block;
       }
       .header__logo {
           margin-right: 0;
           margin-bottom: 20px;
       }
       .nav__items {
           justify-content: center;
           text-align: center;
           align-items: center;
           margin-bottom: 30px;
       }
       .nav__item {
           margin-right: 10px;
       }
       .section__content {
           max-width: 500px;
       }
       .section__active {
           display: block;
           max-width: 400px;
           margin: 0 auto;
       }
       .active-input {
           max-width: 220px;
           margin: 0 auto 20px;
       }
       .sales {
           right: -100px;
       }
   }
   
   @media (max-width: 710px) {
       .wrapper {
           max-width: 710px;
       }
   }